{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2>Arif Kurniawan</h2>
                    <p class="card-text">SMKN 9 Malang, Provinsi Jawa Timur</p>
                </div>
                <div class="card-footer"><a class="button" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Theda Priya Aji</h2>
                    <p class="card-text">SMK Shalahudin Malang, Provinsi Jawa Timur</p>
                </div>
                <div class="card-footer"><a class="button" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Melva Yola Afdareza</h2>
                    <p class="card-text">UPT SMP Megeri Satu Atap Batu Sanggan, Kab. Kampar, Provinsi Riau</p>
                </div>
                <div class="card-footer"><a class="button" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
{% endblock %}